<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
 Kim, Justin, Jordan, Marco and Rohit welcome you to Bobopoly!  Find your favorite board games, discover new ones, rate and review, and find out where to play with other gamers.
</p>