<% provide(:title, 'Home') %>
<div class="center">

<h1>Games For Everyone!</h1>
<p>The home page for Game Professionals</p>


 <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
 
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  

<% end %>
 





