 



<div class='video-container'>
  
  <video_tag preload = 'true' autoplay = 'autoplay' loop volume='0' poster>

    <source src='video/dice.mp4' type='video/mp4'>
    <source src='video/dice.webm' type='video/webm'> 

  </video>


</div>

